/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

:root {
  --mainColor: #f3f5fc;
  --primaryColor: #0a3871;
  --secundaryColor: #67808e;
  --textos: #343a40;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  transition: all 0.5s ease-in-out;
}

body{
  height: 100vh;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header{
  height: 10%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#containerHeader{
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

#containerHeader > img{
  width: 40px;
  height: 50px;
}

main{
  position: absolute;
  top: 10%;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5px;
}

.sectionsBody{
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1px;
}

#containertextAreaInput{
  width: 95%;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}

.textAreaInputC{
  width: 95%;
  padding: 5px;
  resize: none;
  outline: none;
  border: none;
  font-size: 20px;
  color: var(--primaryColor);
}

.textAreaInputC::placeholder{
  color: var(--primaryColor);
}

#containerButtons{
  width: 95%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  row-gap: 5px;
}

#messageInformation{
  width: 100%;
  display: flex;
  padding: 5px;
}

#messageInf{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;

}

#messageInf > img{
  width: 20px;
  height: 23px;
}

#buttons{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.buttonsInput{
  width: 95%;
  height: 60px;
  border: 1px solid var(--primaryColor);
  border-radius: 20px;
  background-color: var(--primaryColor);
  color: var(--mainColor);
  font-size: 15px;
}

.buttonsInput:nth-child(2){
  background-color: var(--mainColor);
  color: var(--primaryColor);
}

.buttonsInput:nth-child(3){
  background-color: var(--mainColor);
  color: var(--primaryColor); 
  justify-content: center;
  align-items: center;
}

#containerOutput{
  width: 80%;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;

  row-gap: 5px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#textAreaOutput{
  width: 95%;
  color: #495057;
  border-radius: 10px;
}

#textosOutput{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 20px;
  transform: translateY(10px);
}

#tituloOutput{
  width: 95%;
  font-size: 19px;
  font-weight: bolder;
}

#textoOutput{
  width: 100%;
}

@media (height < 550px) {
  main{
    top: 15%;
  }

  header{
    height: 15%;
  }
}

@media (width > 670px) {

  #containerHeader{
    padding-left: 45px;
  }

  #buttons{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
  }

  #containerOutput{
    margin-top: 40px;
    width: 95%;
    min-height: 150px;
  } 

  #textosOutput{
    transform: translateY(30px);
  }

  #buttonCopiar{
    background-color: #fff;
  }
}